@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --primary-color: #13283b;
    --green-100: #edf9ed;
    --green-200: #c6eced;
    --green-300: #a0d6e0;
    --green-400: #79a3d4;
    --green-500: #5381c7;
    --green-600: rgb(62, 56, 175);
    --green-700: #2f2c88;
    --green-800: #1f2262;
}

body {
    font-family: "Inter", sans-serif !important;
    background-color: #f8f9fa;
}

.container, option {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--green-100);
}

.container-fluid {
    display: grid;
    place-items: center;
    height: 100px;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.nav-link {
    color: var(--primary-color) !important;
}

.active {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.page-link.active {
    border-color: var(--primary-color) !important;
    color: white !important;
}

.page-link {
    color: var(--primary-color) !important;
}

.table th,
.table td {
    text-align: center !important;
    vertical-align: middle !important;
}