/* Customização */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0 14px;
}

h2 {
  padding: 23px 0 7px;
}

h3 {
  padding: 27px 0 11px;
}

h4 {
  padding: 33px 0 23px;
}

h5 {
  padding: 6px 0 22px;
}

h6 {
  padding: 13px 0 4px;
}

h1,
h2 {
  letter-spacing: -0.006em;
  word-spacing: -0.05em;
}


p,
li,
dt,
dd,
th,
td,
caption {
  font-size: 1.8em;
  line-height: 30px;
}


p,
ul,
ol,
dl {
  padding: 7px 0 23px;
}


ul,
ol {
  padding-right: 0;
  padding-left: 3.9em;
}

dl {
  padding-right: 0;
  padding-left: 2.4em;
}

.text-small h1,
.text-small h2,
.text-small h3,
.text-small h4,
.text-small h5,
.text-small h6 {
  padding: 3px 0 0;
}

.text-small p {
  padding: 7px 0 17px;
}

body {
  overflow-x: hidden;
  background-color: #ededed;
}

#container {
  background-color: #fff;
  margin: -2% auto;
  padding: 10px 0 0 0;
  width: 94%;
  z-index: 20;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}

.nav-inline li a {
  font-size: 1.8em;
  font-weight: 700;
}

.btn-basic,
.btn-basic:visited,
input[type="submit"] {
  margin: 0.5em 0;
  background-color: #0e490e;
  color: #ffffff;

}

section header h2 {
  color: #C5CDCD;
  font-size: 20px;
  padding: 15px 0 0 0;
  min-height: 60px;
  text-transform: uppercase;
}

.header-frame {
  background-color: #0e490e;
}

.header-frame-absolute {
  padding: 30px 0;
  width: 100%;
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  transition: padding 1s, background-color 1s;
}

.header-frame-fixed {
  padding: 0;
  position: fixed;
  background-color: #0e490e;
}

.site-logo h1 a {
  line-height: 200px;
  width: 131px;
  height: 50px;
  margin: 0px 0 0 0px;
  padding: 0;
  display: block;
  overflow: hidden;
}

.logo {
  margin-top: 15%;
}


.carousel-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-background {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-background img {
  width: 100vw;
  /* Ajusta a largura para caber na viewport */
  height: 100vh;
  /* Ajusta a altura para caber na viewport */
  object-fit: cover;
  flex: 0 0 auto;
  /* Garante que as imagens não encolham ou estiquem */
}

.img-responsive-name {
  display: flex;
}

@media (min-width: 900px) {

  .logo {
    margin-top: 0;
  }

  .sponsors-banner {
    padding-bottom: 15%;
    display: flex;
    gap: 5%;
  }
}

.schedule-table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

.schedule-table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.schedule-table tr:last-child th:last-child {
  border-top-right-radius: 15px;
}

.schedule-table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

#tables-container {
  width: 90%;
  margin: 0 auto;
}

.schedule-table {
  width: 100%;
  border-collapse: separate;
}

.schedule-table th,
.schedule-table td {
  text-align: left;
  padding: 14px;
}

.schedule-table tr td:first-child {
  text-align: center;
  font-weight: 800;
  min-width: 150px;
}

.w3-button {
  padding: 1% 4%;
  margin-bottom: -4px;
  border: none;
  background-color: white;
  cursor: pointer;
  color: #0e490e;
  font-weight: 500;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -158px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext span {
  font-weight: 800;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.schedule-table .cell-empty {
  display: none;
}

#title-prog,
.title-prog {
  text-align: center;
}

.schedule-table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 20px;
}


.schedule-table th {
  background-color: #0e490e;
  color: #fff;
  text-align: center;
}

.schedule-table td {
  background-color: #fff;
}

.w3-bar {
  text-align: center;
}

.active {
  border-bottom: 12px solid #0e490e;
  font-weight: 800;
}

.subscribe-btn,
.agenda-btn {
  background-color: transparent;
  font-size: 1.8rem;
  color: #fff;
  padding: 20px 30px;
  border-radius: 25px;
  border: 3px solid #fff;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.6s;
  text-decoration: none;
}

.agenda-btn {
  color: #0e490e;
  border: 3px solid #0e490e;
}

.agenda-btn:hover {
  background-color: #0e490e;
  color: #fff;
}

.subscribe-btn:hover {
  background-color: #fff;
  color: #000;
}

.bg-green {
  background-color: #0e490e;
}

.nav-mobile,
.nav-inline li a,
.open .nav-mobile {
  transition: background-color 150ms;
}

@media all and (min-width:900px) {

  .nav-inline li a {
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .header-inline .nav-inline li {
    margin: 0 0 0 3.5em;
    transition: all 0.5s ease;
  }

  .header-frame-absolute .nav-inline li a:hover {
    transform: translateY(-3px);
  }

  .header-frame-fixed .nav-inline li a:hover {
    color: #fff;
  }

}

.agenda-em-breve {
  margin: 0 auto;
  background-color: transparent;
  font-size: 1.8rem;
  padding: 20px 30px;
  border-radius: 25px;
  font-weight: 600;
  width: 10vw;
  text-decoration: none;
  color: #0e490e;
  border: 3px solid #0e490e;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .agenda-em-breve {
    margin: auto;
    padding: 20px 10px;
    width: 40%;
    max-width: 400px;
  }
}

.inscricao-em-breve {
  margin: 30px 0px 0px 0px;
  background-color: transparent;
  font-size: 1.8rem;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  border: 3px solid #fff;
  font-weight: 600;
}

.subscribe-btn,
.inscricao-em-breve {
  display: inline-block;
  vertical-align: middle;
  /* Alinha ambos no meio da linha */
}


@media all and (max-width:900px) {

  .nav-mobile {
    color: #ffffff;
  }

  .nav-inline li a,
  .open .nav-mobile {
    color: #fff;
    background-color: #0e490e;
  }

}

#top,
#register {
  color: #ffffff;
}

#register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 3%;
}

#top,
#container {
  position: relative;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  z-index: 1;
  background: url(../img/back3.svg) bottom center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.countdown h1 {
  font-family: "Economica";
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  padding-top: 300px;
}

.countdown h3 {
  font-size: 25px;
  font-weight: 400;
  padding-top: 0;
}

.overview .fa,
#title-prog .fa,
.title-prog .fa {
  color: #0e490e;
  padding-top: 5px;
  font-size: 55px;
}

.overview h2,
#title-prog h2,
.title-prog h2 {
  font-size: 25px;
  line-height: 1em;
  text-transform: uppercase;
  min-height: 64px;
  padding-top: 10px;
  padding-bottom: 0;
}

.overview p {
  font-size: 2rem;
}

.overview_down a {
  font-weight: 300;
  display: block;
  color: #333;
  margin-bottom: 10px;

}

.sponsor-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2
}

.sponsors h2,
.sponsors h3 {
  text-transform: uppercase;
}

.sponsors h3 {
  color: #999;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 0 11px;
  min-height: 60px;
}

.register {
  background: url(../img/register-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#submission {
  background-color: #DFDEDF;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

#submission p {
  width: 80%;
  margin: 0 auto;
}

#submission .pdf,
#submission .submit {
  border: 3px solid #0e490e;
  color: #0e490e;
  border-radius: 20px;
  padding: 14px 30px 10px;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 0.8em;
}

#submission .pdf {
  border: 3px solid #0e490e;
  color: #fff;
  background-color: #0e490e;
  display: flex;
  align-items:center;
  justify-content: center;
}



#submission i,
#submission span {
  font-size: 1.8em;
}

#submission .submit:hover {
  background-color: #0e490e;
  color: #fff;
}

#submission .pdf:hover {
  opacity: 0.8;
}

.register .title-prog h2,
.register .title-prog i {
  color: #fff;
}

.register p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 30px;
}

#venue {
  background: #DFDEDF;
  background-size: cover;
  padding-bottom: 70px;
  border-radius: 0 0 15px 15px;
}

.venue-address {
  min-height: 300px;
  background: rgba(0, 43, 2, 0.85) none repeat scroll 0 0;
  border-top-left-radius: 10px;
}

.venue-address .address {
  padding-left: 30px;
  position: relative;
}

.venue-address .address .fa {
  position: absolute;
  left: 0;
}

#map-canvas {
  width: 100%;
  min-height: 300px;
  position: relative;
  top: 0;
  z-index: -1;
}

iframe {
  border-bottom-right-radius: 10px;
}

footer {
  bottom: 0;
  background-color: #303030;
  color: #FFF;
  width: 100%;
  text-align: center;
  line-height: 100px;
  height: 50px;
}

.prefooter {
  margin-top: 0;
  width: 100%;
  padding: 20px 7% 5px 7%;
  background: #303030;
  color: #efefef;
  display: flex;
}

.prefooter div {
  text-align: center;
  margin-top: 3%;
}

.coluna-1 {
  flex-grow: 1;
  width: 50%;
  padding-right: 5px;

}

.coluna-2 {
  flex-grow: 1;
  width: 50%;
  padding-right: 5px;

}

.coluna-3 {
  flex-grow: 1;
  width: 50%;
}

.prefooter div h3 {
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.coluna-1 a {
  font-weight: 300;
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.coluna-1 i {
  padding: 10px;
}

.social-icons {
  margin-top: 0px;
}

.social-icons i {
  font-size: 22px;
  margin: 20px;
  cursor: pointer;
  color: white;
}

@media all and (min-width:900px) {
  .venue {
    margin-top: 60px;
  }

  iframe {
    width: 66%;
  }
}

@media all and (max-width:900px) {
  .prefooter {
    display: block;
  }

  .coluna-1 {
    width: 100%;
  }

  .coluna-2 {
    width: 100%;
  }

  .coluna-3 {
    width: 100%;
  }
}

@media all and (max-width:900px) {
  .venue {
    margin-top: 60px;
  }

  .venue-address {
    min-height: 200px;
    border-top-left-radius: 0%;
  }

  iframe {
    border-bottom-right-radius: 10px;
  }

  footer {
    height: 90%;
  }
}

@media all and (max-width:480px) {
  .btn-basic {
    max-width: 330px;
  }

  .pdf-container {
    width: 80%;
    display: flex;
    align-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .pdf-container .pdf,
  .pdf-container .submit{
    width: 100%;
    margin-top: 2%;
  }
  .submit-container{
    display: inline-flex;
  }

  .pdf-container .submit{
    margin-left: 20%;
    margin-top: 10%;
  }
}


@media all and (min-width:480px){
  .pdf-container .pdf{
    margin-right: 2%;
  }
  .submit-container{
    display: block;
    margin-top: 25px;
  }

}

@media (max-width: 900px) {
  .img-responsive-name {
    margin-top: 20px;
  }
}

@media (min-width: 901px) {
  .img-responsive-name {
    margin-top: 25vh;
  }
}



@media (max-width: 2000px) {

  .nav-list {
    display: none;
  }

  .header-inline .nav-inline {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  .header-inline .nav-inline.open:hover {
    background-color: #0e490e;
  }


  .overview p {
    font-size: 2rem;
    line-height: 2rem;
  }

  .schedule-table tr td:first-child {
    text-align: start;
  }

  .w3-button {
    padding: 2% 6%;
  }

  .schedule-table,
  .schedule-table thead,
  .schedule-table tbody,
  .schedule-table th,
  .schedule-table td,
  .schedule-table tr {
    display: block;
  }

  .schedule-table tr td:first-child {

    background-color: #0e490e;
    font-weight: 600;
    color: white;
    padding-top: 7%;
  }


  .schedule-table th:first-child,
  .schedule-table td:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .schedule-table th:last-child,
  .schedule-table td:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .schedule-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .schedule-table tr {
    margin: 0 0 1rem 0;
  }

  .schedule-table td,
  .schedule-table th {
    position: relative;
    padding: 20px;
    width: 100%;
  }

  .schedule-table td:before {
    position: absolute;
    top: 0;
    width: 45%;
    margin-top: 4%;
    font-weight: 600;
    white-space: nowrap;
    content: attr(data-label);
  }

  .schedule-table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }

  .tooltip .tooltiptext {
    width: 90%;
    margin-left: -50%;
    bottom: 100%;
    left: 50%;
    text-align: center;
  }

  .tooltip {
    margin-top: 6%
  }

  .register p {
    font-size: 1.6rem;
  }

  .subscribe-btn {
    transition: all 0.7s ease;
    font-size: 1.4rem;
  }

}


@media (max-width: 2000px) {
  #tables-container {
    width: 60%;
  }
}

@media (max-width: 1050px) {
  #tables-container {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .schedule-table tr td:first-child {
    padding-top: 13%;
  }

  .schedule-table td,
  .schedule-table th {
    padding: 6%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sponsors-banner {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.img-responsive-logo {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.ul-mostra {
  list-style-position: inside;
  padding: 0;
  display: inline-block;
  text-align: left;
}

#prefooter-image img {
  width: 100%;       /* A imagem ocupará 100% da largura do contêiner */
  max-width: 800px;  /* Limite máximo de largura da imagem */
  height: auto;      /* Mantém a proporção da imagem */
  display: block;    /* Remove possíveis espaços abaixo da imagem */
  margin: auto; /* Centraliza a imagem com margem superior */
  background-color: transparent;
}